<a href="https://colab.research.google.com/github/Salaar-del/lab-exam/blob/main/sujanreddy142.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount=('/content/Copy of Even2.xlsx')

In [3]:
df=pd.read_excel('/content/Copy of Even2.xlsx')

In [4]:
df.head()

,Employee_Name,Employee_ID,Job_Role,Phone_Number,Email_ID,Total_Work_Hour_per_Month,Salary_per_Month
0,Jane Miller,8797,Developer,3.801881e+09,emily.taylor@example.com,9999.0,NaN
1,Michael Brown,6540,Manager,7.904752e+09,john.brown@test.net,160.0,11200.0
2,Sarah Anderson,2353,Developer,9.463822e+09,sarah.wilson@sample.org,9999.0,-5000.0
3,Chris Johnson,6392,Engineer,8.727628e+09,john.jones@sample.org,160.0,8000.0
4,Laura Smith,1653,Analyst,7.750284e+08,sarah.taylor@test.net,9999.0,NaN

In [5]:
df['Hourly_Wage'] = df['Salary_per_Month'] /df['Total_Work_Hour_per_Month']
print(df[['Salary_per_Month','Total_Work_Hour_per_Month','Hourly_Wage']])

    Salary_per_Month  Total_Work_Hour_per_Month  Hourly_Wage
0                NaN                     9999.0          NaN
1            11200.0                      160.0     70.00000
2            -5000.0                     9999.0     -0.50005
3             8000.0                      160.0     50.00000
4                NaN                     9999.0          NaN
..               ...                        ...          ...
95          100000.0                      -10.0 -10000.00000
96          100000.0                        NaN          NaN
97          100000.0                        NaN          NaN
98           -5000.0                      -10.0    500.00000
99               NaN                        NaN          NaN

[100 rows x 3 columns]

In [6]:
df['Phone_Number'] = df['Phone_Number'].astype(str).str.replace(r'\D', '', regex=True)
df['Phone_Number'] = df['Phone_Number'].apply(lambda x: x[-10:])
print(df)

     Employee_Name  Employee_ID   Job_Role Phone_Number  \
0      Jane Miller         8797  Developer   8018808700
1    Michael Brown         6540    Manager   9047524280
2   Sarah Anderson         2353  Developer   4638223300
3    Chris Johnson         6392   Engineer   7276281480
4      Laura Smith         1653    Analyst   7750284090
..             ...          ...        ...          ...
95     Emily Smith         5111        NaN   4638835620
96    Sarah Wilson         7388   Engineer   4550090980
97             NaN         3773    Manager   4515525620
98     Sarah Smith         1442    Analyst   2949454000
99   Michael Jones         3490    Analyst   4256222840

                        Email_ID  Total_Work_Hour_per_Month  Salary_per_Month  \
0       emily.taylor@example.com                     9999.0               NaN
1            john.brown@test.net                      160.0           11200.0
2        sarah.wilson@sample.org                     9999.0           -5000.0
3          john.jones@sample.org                      160.0            8000.0
4          sarah.taylor@test.net                     9999.0               NaN
..                           ...                        ...               ...
95          james.davis@test.net                      -10.0          100000.0
96      john.johnson@example.com                        NaN          100000.0
97       david.miller@sample.org                        NaN          100000.0
98  jessica.anderson@example.com                      -10.0           -5000.0
99        john.miller@sample.org                        NaN               NaN

    Hourly_Wage
0           NaN
1      70.00000
2      -0.50005
3      50.00000
4           NaN
..          ...
95 -10000.00000
96          NaN
97          NaN
98    500.00000
99          NaN

[100 rows x 8 columns]

In [7]:
unique_roles = df['Job_Role'].nunique()
print("number of unique job roles : " ,unique_roles)

number of unique job roles :  5

In [8]:
df=df.drop_duplicates(subset=['Employee_ID'])

In [9]:
negative_salaries = df[df['Salary_per_Month'] <0]
print("negative salaries entries :\n",negative_salaries)

negative salaries entries :
       Employee_Name  Employee_ID        Job_Role Phone_Number  \
2    Sarah Anderson         2353       Developer   4638223300
8               NaN         5890       Developer   1553123020
12      Laura Davis         6915        Engineer   8498977130
14   Michael Miller         1634  Data Scientist   4163089320
17     John Johnson         8521         Analyst   9171964440
20      Laura Davis         8202             NaN   7900565110
32              NaN         1603        Engineer   7955319380
38     Emily Wilson         9713         Manager   1567040490
41    Jane Williams         7226             NaN   3511259920
48      Chris Jones         9320  Data Scientist   7671922250
60       Jane Jones         6742  Data Scientist   3556642850
62      David Brown         5344  Data Scientist   6060423100
64   Jessica Wilson         6131       Developer   8055311360
70  Michael Johnson         5045         Analyst   7030920160
71    Jane Anderson         8889         Manager   7368419600
81    Jessica Brown         8979        Engineer   9496475510
87    Sarah Johnson         3476             NaN
89       Jane Jones         7778  Data Scientist
93    Laura Johnson         2658        Engineer   8475481720

                      Email_ID  Total_Work_Hour_per_Month  Salary_per_Month  \
2      sarah.wilson@sample.org                     9999.0           -5000.0
8       jane.williams@test.net                     9999.0           -5000.0
12     sarah.brown@example.com                        NaN           -5000.0
14      emily.johnson@test.net                     9999.0           -5000.0
17  jessica.miller@example.com                        NaN           -5000.0
20                         NaN                     9999.0           -5000.0
32        emily.jones@test.net                     9999.0           -5000.0
38      jessica.smith@test.net                      -10.0           -5000.0
41      david.johnson@test.net                     9999.0           -5000.0
48     laura.taylor@sample.org                      -10.0           -5000.0
60     james.wilson@sample.org                      -10.0           -5000.0
62                         NaN                     9999.0           -5000.0
64         john.davis@test.net                        NaN           -5000.0
70  michael.miller@example.com                     9999.0           -5000.0
71   michael.smith@example.com                     9999.0           -5000.0
81   sarah.johnson@example.com                      -10.0           -5000.0
87   jessica.wilson@sample.org                     9999.0           -5000.0
89     sarah.brown@example.com                     9999.0           -5000.0
93    james.wilson@example.com                      -10.0           -5000.0

    Hourly_Wage
2      -0.50005
8      -0.50005
12          NaN
14     -0.50005
17          NaN
20     -0.50005
32     -0.50005
38    500.00000
41     -0.50005
48    500.00000
60    500.00000
62     -0.50005
64          NaN
70     -0.50005
71     -0.50005
81    500.00000
87     -0.50005
89     -0.50005
93    500.00000

In [11]:
duplicate_entries = df.duplicated(subset=['Employee_ID']).sum()
print("number of duplicate entries : " , duplicate_entries)

number of duplicate entries :  0